<tb-task-quick-add (addTask)='onAdd($event)'></tb-task-quick-add>
<div class='grid-container'>
  <tb-task-list [tasks]='tasksTodo'
                [state]='stateTodo'
                (deleteTask)='onDelete($event)'
                (editTask)='onEdit($event)'
  ></tb-task-list>
  <tb-task-list [tasks]='tasksDoing'
                [state]='stateDoing'
                (deleteTask)='onDelete($event)'
                (editTask)='onEdit($event)'
  ></tb-task-list>
  <tb-task-list [tasks]='tasksDone'
                [state]='stateDone'
                (deleteTask)='onDelete($event)'
                (editTask)='onEdit($event)'
  ></tb-task-list>
</div>
