.card {
  position: relative;
  padding-left: 1em;
  margin: 0.25em 0 0.25em 0;
  border-radius: 5px;
  border: 2px solid var(--background-dark);
  cursor: pointer;
  background-color: var(--background-light);
  transition: all 0.15s ease-in-out;
}

.stage {
  position: absolute;
  opacity: 0;
  transition: all 0.15s ease-in-out;
  z-index: 100;
  color: black;
  background-color: white;
  padding: 0.25em 0.5em 0.25em 0.5em;
  border: 2px solid var(--background-dark);
  border-radius: 5px;
  height: 0;
}

.next-stage {
  left: 9.5em;
}

.stage:hover {
  color: var(--background-dark)
}

.card:hover .stage {
  opacity: 1;
  height: 2em;
}

.card:hover {
  background-color: var(--background-dark);
  color: white;
}

.cross {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  padding: 0.75em;
  color: white;
  height: 100%;
  background-color: var(--danger);
  display: flex;
  justify-content: center;
  align-items: center;
}
