<div class="card" [ngClass]="{ active: editMode }">
  <div class="cross" (click)="onDelete()">X</div>
  <div class="show" *ngIf="!editMode">
    <div class="content" (click)="onSelect()">
      <h3>{{ task.title }}</h3>
      <p>{{ task.text }}</p>
    </div>
    <div
      class="stage"
      *ngIf="task.state !== taskState.TODO"
      (click)="previousStage()"
    >
      previous stage
    </div>
    <div
      class="stage next-stage"
      *ngIf="task.state !== taskState.DONE"
      (click)="nextStage()"
    >
      next stage
    </div>
  </div>
  <div class="edit" *ngIf="editMode">
    <tb-task-edit
      [task]="task"
      (cancel)="editMode = false"
      (update)="onUpdate($event)"
    ></tb-task-edit>
  </div>
</div>
