<div class="container">
  <form [formGroup]="addTaskForm" (ngSubmit)="onSubmit()">
    <div class="form-field">
      <label for="title">Title*</label>
      <input id="title" type="text" formControlName="title" />
    </div>

    <div class="form-field">
      <label for="text">Description</label>
      <textarea
        id="text"
        type="text"
        formControlName="text"
      ></textarea>
    </div>

    <div class="action">
      <button class="button" type="submit" [disabled]="!addTaskForm.valid">
        Add Task
      </button>
    </div>
  </form>
</div>
